@import "/src/styles/variables";
.wrapper {
  display: flex;
}

.wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  border: 0.15em solid $color-primary;
  outline: none;
  cursor: pointer;
}

.wrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.wrapper input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
}

.wrapper input[type="checkbox"]:focus {
  box-shadow: $box-shadow-glow-sm;
}

.wrapper input[type="checkbox"]:checked {
  background-color: $color-primary;
  position: relative;
}

.wrapper input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 1.2em;
  color: $color-white;
  position: absolute;
  right: 2px;
}
